<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{>sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{>topbar}}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <h1 class="mb-2">Create Teacher Profile</h1>

                    <form>
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input type="text" name="fullname" class="form-control" id="fullname"
                                placeholder="Enter Teacher Name">
                        </div>

                        <div class="form-group">
                            <label for="subjectname">Subject Name</label>
                            <input type="text" name="subjectname" class="form-control" id="subjectname"
                                placeholder="Enter Subject Name">
                        </div>

                        <div class="form-group">
                            <label for="department">Department Name</label>
                            <input type="text" name="departmentname" class="form-control" id="departmentname"
                                placeholder="Enter Department Name">
                        </div>

                        <div class="form-group">
                            <label for="email">Enter Email</label>
                            <input type="password" name="email" class="form-control" id="email"
                                placeholder="Enter Email">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password"
                                placeholder="Enter Password">
                        </div>

                        <div class="form-group">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" name="confirmpassword" class="form-control" id="confirmpassword"
                                placeholder="Enter Confirm Password">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlFile1">Example file input</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{>footer}}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    {{>scroller}}

    <!-- Logout Modal-->
    {{>logoutmodel}}

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>